*.swp
*.log
*.aux
docs/classdiagram.png
docs/classdiagram.xml
*.DS_Store
.vscode
accounts.data
.gradle/*
build/*
docs/api/*
*.iws
*.iml
*ipr
accounts.txt
.idea/*

# Build output
*target*

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/libraries/


